.runButton {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative; 
  top: 10px;
  left: 85vh; 
}

.light {
  background-color: rgb(225, 232, 238);
  color: #2f2f2f;
}

.dark {
  background-color: #3b3a3a;
  /* color: white; */
}

.icon {
  font-size: 24px;
  margin-right: 5px;
  height: 35px;
  transition: color 0.3s ease;
}

/* Tooltip styles */
.tooltip {
  position: absolute;
  color: black;
  padding: 5px 10px;
  font-size: 10px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
}

/* Tooltip for dark mode */
.dark .tooltip {
  color: white;
  background-color: #2f2f2f;
}

/* Show tooltip on hover */
.runButton:hover .tooltip {
  opacity: 1;
  transform: translateY(0);
}
