.clearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  font-size: 19px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  position: absolute; 
  top: 10px;
  right: 32px; 
}

/* .clearButton :hover {
  color: red;
  background-color: red;
} */

/* Light mode */
.light {
  background-color: rgb(225, 232, 238);
  color: #2f2f2f;
}

/* Dark mode */
.dark {
  background-color: #9b9fe2;
  /* color: white; */
}

.icon {
  font-size: 24px;
  margin-right: 5px;
  transition: color 0.3s ease;
  height: 35px;
  transition: color 0.3s ease;
}

/* Tooltip styles */
.tooltip {
  position: absolute;
  top: 60px;
  color: black;
  padding: 5px 10px;
  font-size: 10px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  background-color: white;
  border-radius: 3px;
}

/* Tooltip for dark mode */
.dark .tooltip {
  color: white;
  background-color: #2f2f2f;
}

/* Show tooltip on hover */
.clearButton:hover .tooltip {
  opacity: 1;
  transform: translateY(0);
}
