.inputContainer {
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.inputField {
    border: 1px solid #61dafb;
    height: 70px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 6px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}