.outputContainer {
  padding: 20px 32px 0 44px;

  right: 240%;
}

.outputField {
  width: 785px;
  height: 80vh;

  font-size: 25px;
  background-color: #f4f4f4;

  background-image: radial-gradient(circle, #d2d1d1 1px, transparent 1px);
  background-size: 20px 20px;
}

.outputLabel {
  font-size: 26px;
  font-weight: bold;
  color: #6d6969;
}

.outputContainer textarea {
  margin-top: 10px;  
}