.outputContainer {
    float: right;
    width: 49%;
    height: 100vh;
    padding: 5%;
    box-sizing: border-box;
}

.outputField {
    height: 80vh;
    width: 700px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 4px;
    /* margin-right: 12px; */
}