.outputContainer {
    width: 98%;
    height: 100%;
  }
  
  .outputField {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: black;
    resize: none;
    pointer-events: none; /* Prevent interaction with the output field */
  }
  