.inputContainer {
  padding: 20px 0 0 174px;
}

.inputField {
  width: 785px;
  height: 80vh;

  font-size: 25px;

  background-color: #f4f4f4;
}

.inputLabel {
  font-size: 26px;
  font-weight: bold;
  color: #6d6969;
}

.inputContainer textarea {
  margin-top: 10px;  /* Այս հատկությունը կարելի է նաև օգտագործել */
}


