.darkLightButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    /* background-color: transparent; */
    /* border: 1px solid #555; */
    cursor: pointer;
    /* transition: background-color 0.3s ease, border-color 0.3s ease; */
  }
  
  .darkLightButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: white; 
  }
  
  .darkLightButton:active {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #000000;
  }
  
  .icon {
    font-size: 24px;
    color: #000000;
  }
  