.darkLightContainer {
    padding: 10px 10px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 90px;
}

.darkLightField {
    border: 1px solid #61dafb;
    color: rgb(19, 18, 18);
    height: 70px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}