
body.dark-mode {
  background-color: #4b4848;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  overflow: hidden;
  
  background-color: rgb(255, 255, 255);
  color: black;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttons {
  background-color: rgb(225, 232, 238);
  height: 110px;

  display: flex;
}

.buttons.light {
  background-color: rgb(225, 232, 238);
}

.buttons.dark {
  background-color: #3b3a3a;
  color: white;
}

.stream {
  background-color: rgb(225, 232, 238);
  height: 100vh;
  width: 110px;

  display: flex;
}

.stream.light {
  background-color: rgb(225, 232, 238); 
}

.stream.dark {
  background-color: #3b3a3a;
  color: white;
}
